<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody>
                <% if(products.length > 0) {%>
                <% products.forEach(product=> { %>
                    <tr>
                        <td>
                            <div>
                                <div>
                                    <p>
                                        <%= product.name %>
                                    </p>

                                </div>
                            </div>
                        </td>
                        <td>
                            <p>
                                $ <%= product.price %>
                            </p>
                        </td>
                        <td>
                            <img src="<%=product.thumbnail%>" alt="" style="width: 45px; height: 45px" />
                        </td>
                        <% }) %>
                        <% }else {%>
                            <h1>No hay productos cargados</h1>
                        <%} %>
                    </tr>
            </tbody>
        </table>
        <button id="formButton">Volver a carga de productos</button>
    </div>

    <script>
        const formButton = document.getElementById('formButton')

        formButton.addEventListener('click', (e) => {
            window.location = "/"
        })
    </script>
</body>

</html>